{"nrtm_version":4,"type":"delta","source":"RIPE","session_id":"db44e038-1f07-4d54-a307-1b32339f141a","version":734257}
{"action":"add_modify","object":"route: 198.51.100.0/24\norigin: AS65003\nsource: RIPE\n"}
{"action":"delete","object_class":"route","primary_key":"192.0.2.0/24AS65001"}